.main{
    text-align: center;
    padding-top: 20px;
    font-size: 25px;
    color: #fff;
    background-color: black;
    height: 841px;
}
.secound{padding-top: 5px;}
.btn{

    padding-top: 20x;
}

.myform{
    margin-top: 15%;
}
.main_tag{margin-top: 11%;}